body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    font-family: cursive;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}