body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.restaurant-name {
   font-size: 70px; 
   font-family: cursive;
}

.nav-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-inline: 12px;
}