body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.restaurant-name {
   font-size: 70px; 
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}